<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 5.3//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Conexión a la base de datos -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/poowercoders</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">Chimmy.15</property>

        <!-- Dialecto para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

        <!-- Mostrar las sentencias SQL por consola -->
        <property name="hibernate.show_sql">true</property>

        <!-- Formatear las sentencias SQL -->
        <property name="hibernate.format_sql">true</property>

        <!-- Actualizar el esquema automáticamente -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Clases anotadas con @Entity -->
        <mapping class="com.poowercoders.POOwerCoders.modelo.Articulo"/>
        <mapping class="com.poowercoders.POOwerCoders.modelo.Cliente"/>
        <mapping class="com.poowercoders.POOwerCoders.modelo.ClienteEstandar"/>
        <mapping class="com.poowercoders.POOwerCoders.modelo.ClientePremium"/>
        <mapping class="com.poowercoders.POOwerCoders.modelo.Pedido"/>




    </session-factory>
</hibernate-configuration>
